/*
font-family: 'Amagro', Serif;
font-size: 55px;
font-family: 'Lovato', Serif;
font-size: 15px;
*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Lovato', Serif;
	font-size: 20px;
	color: #666;
	margin: 0;
}
header {
	background-image: url(https://s3.us-west-2.amazonaws.com/cobbcounty.org.if-us-west-2/prod/s3fs-public/2018-11/Martin-Luther-King-Jr-1500w.jpg);
	background-size: cover;
	width: 100vw;
}
header.grid-header {
	display: flex;
	justify-content: space-between;
}

h1, h2 {
	font-family: 'Amagro', Serif;
	color: white;
}

h1 {
	font-size: 70px;
	margin: 0;
	text-orientation: mixed;
	padding: 20px 30px;
}

h2 {
	font-size: 35px;
	margin-top: 400px;
	margin-right: 40px;
	text-align: right;

	
}

h2.quote{
	color:black;
	text-align:left;
	margin-top:40px;
	margin-bottom:-20px;
	text-align: center;
}



p {
	line-height: 32px;
}

em { 
	font-weight: bold; 
}

main {
	width: 80%;
	margin: 60px auto;
}

blockquote {
	font-style:italic;
	font-size: 48px;
	font-family: 'Lovato', Serif;
	text-align: center;
}
blockquote::after {
  content: "”";
}

blockquote::before {
  content: "“";
}

blockquote em { font-weight: bold; color: #ff9900; font-size: 68px; }


.grid-main {
	display: flex;
}

.grid-main p {
	margin:60px;
}
.grid-main p:nth-child(1) {
	flex: 45%;
}
.grid-main p:nth-child(2) {
	flex: 55%;
}
.intro span {
	font-size: 60px; 
	font-weight:bold;
	font-family: 'Cormorant Garamond', Serif;
}
.first {
	font-size: 32px;
}